# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj/
_test/

# Compiled Go binaries
*.exe
*.out
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Application binaries
app

# Endorsements
*.log

# Dependency directories
vendor/

.env